:root {
    --bg: #07080f;
    --header-height: 85px;
    --panel-width: 350px;
    --green: #00e676;
    --border: rgba(255,255,255,0.07);
    --text: #e2e4f0;
    --muted: #8a8daa;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
    width: 100%;
    height: 100dvh;
    background: var(--bg);
    color: var(--text);
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

.leaflet-control-zoom {
    display: none;
}

/* HEADER */
#header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: var(--header-height);
    background: rgba(7,8,15,0.95);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    letter-spacing: 0.12em;
    color: var(--text);
    padding-top: 1%;
}

.logo em {
    color: var(--green);
    font-style: normal;
}

/* MAP */
#map {
    position: absolute;
    top: var(--header-height);
    left: 0; right: 0; bottom: 80px;
    transition: right 0.3s ease;
}

/* OCEAN COLOR*/
.leaflet-container {
    background: #1b3f75b7 !important;
}

#map.panel-open {
    right: var(--panel-width);
}

#map-controls {
    position: absolute;
    top: calc(var(--header-height) + 12px);
    left: 12px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.map-btn {
    font-family: 'DM Mono', monospace;
    font-size: 11px;
    padding: 6px 12px;
    background: rgba(7,8,15,0.9);
    border: 1px solid var(--border);
    color: var(--muted);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    transition: all 0.15s;
}

.map-btn:hover, .map-btn.active {
    color: var(--green);
    border-color: rgba(0,230,118,0.3);
}

/* SIDE PANEL */
#panel {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: var(--panel-width);
    height: calc(100vh - var(--header-height) - 36px);
    background: #0d0e1a;
    border-left: 1px solid var(--border);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

#panel.open {
    transform: translateX(0);
}

/*PANEL HEADER -- Flagge und Test usw)*/
.ph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
}

.ph-flag { font-size: 50px; margin-bottom: 1%; }
.ph-name { font-size: 50px; font-weight: 600; }
.ph-capital { font-family: 'DM Mono', monospace; font-size: 20x; color: var(--muted); }

.ph-btn {
    background: none;
    border: 1px solid var(--border);
    color: var(--muted);
    padding: 4px 10px;
    cursor: pointer;
    font-family: 'DM Mono', monospace;
    font-size: 11px;
}

.ph-btn:hover { color: var(--text); }


/* FOOTER */
#footer {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 80px;
    background: rgba(7,8,15,0.95);
    border-top: 1px solid var(--border);
    z-index: 2000;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#ticker {
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    color: var(--muted);
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}

@keyframes ticker {
    from { transform: translateX(100vw); }
    to   { transform: translateX(-100%); }
}

/* WIRTSCHAFTSDATEN */
.econ-section {
    margin-top: 16px;
    border-top: 1px solid var(--border);
    padding-top: 12px;
}

.econ-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border);
}

.econ-label {
    font-family: 'DM Mono', monospace;
    font-size: 11px;
    color: var(--muted);
    flex: 1;
}

.econ-val {
    font-size: 16px;
    font-weight: 600;
    color: var(--green);
    margin-right: 8px;
}

.econ-year {
    font-family: 'DM Mono', monospace;
    font-size: 10px;
    color: var(--muted);
}


.leaflet-popup-content-wrapper {
    background: #0d0e1a;
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 0;
    color: #e2e4f0;
}

.leaflet-popup-tip {
    background: #0d0e1a;
}

.leaflet-popup-close-button {
    color: #8a8daa !important;
}